{% load static %}
<!-- myapp/templates/myapp/form_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Form Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>My Form</h2>
    <form method="post" action="{% url 'form_page' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label for="{{ form.subscribe_newsletter.id_for_label }}">Subscribe to Newsletter:</label>
            {{ form.subscribe_newsletter }}
        </div>
        <div>
            <label>Gender:</label>
            {{ form.gender }}
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
