{% extends 'base.html' %}

{% block title %}Create Bank Account{% endblock %}

{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Create Bank Account</h1>
          </div>
        </div>
      </div>
    </section>
    <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
        <form method="post" enctype="multipart/form-data">
            <div class="card-body">
                {% csrf_token %}
                <div class="form-group">
                {{ form.as_p }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </form>
            </div>
          </div>
        </div>
    </div>


{% endblock %}