{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
    <div class="container-home">
        <div class="center-box">
            <div class="content">
                <h1>Welcome to MyBank</h1>
                <p>Your Trusted Banking Partner</p>
{#                <ul class="services">#}
{#                    {% for service in services %}#}
{#                        <li><a href="{% url 'manage_accounts' %}">Accounts</a></li>#}
{#                        <li>Employees</li>#}
{#                        <li>Transfer Fund</li>#}
{#                        <li>View Statement</li>#}
{#                        <li>Change Address</li>#}
{#                        <li><a href="{% url 'create_account' %}">Account Opening</a></li>#}
{#                        <li>Deposit in Account</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
            </div>
        </div>
    </div>
{% endblock %}