{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MyBank</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Delete Bank Account</h1>
        <p>Are you sure you want to delete the account of {{ account.full_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>