* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: bisque; */
}

nav {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 100px;
  position: fixed;
  background-color: bisque;
}

nav .logo p {
  font-size: 25px;
  font-weight: bold;
  float: left;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul {
  float: right;
}
nav li {
  display: inline;
  position: relative;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: black;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
nav li a:hover {
  color: gold;
  /* transform: all 0.2s ease 0s; */
  border: 2px solid black;
  color: red;
  transition: 1s;
  border-radius: 40px;
  margin: 30px;
  padding: 3px;
}
.form {
  margin-left: 120px;
  margin-top: 160px;

  background-color: bisque;
  position: absolute;
  border: 2px solid red;
  border-radius: 10px;
  opacity: 0.7;
  padding: 25px;
}
.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  color: red;
}
.form input {
  width: 250px;
  height: 30px;
  background: transparent;
  border-bottom: 2px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 25px;
  font-size: 15px;
}

.btnn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 80px;
  cursor: pointer;
}

.btnn:hover {
  background: black;
  color: #ff7200;
}
.btnn a {
  font-weight: bold;
}
