<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/CSS/styling.css">
    <title>Arthonsys-Intern</title>
</head>

<body>
    <nav>
        <div class="logo">
            <p>ARTHONSYS</p>
        </div>
        <ul>
            <li> <a href="#">HOME</a></li>
            <li> <a href="#">ABOUT</a></li>
            <li> <a href="#">SERVICES</a></li>
            <li> <a href="{% url 'Contacts' %}">CONTACT</a></li>
        </ul>
    </nav>
<!--    <img src="pic.webp" alt="">-->
<!--    <div class="form">-->
<!--        <h2>Login Form</h2>-->
<!--        <b> <input type="email" name="email" placeholder="Email Address" required><br>-->
<!--            <input type="password" name="" placeholder="Enter Password" ><br>-->
<!--        </b>-->
<!--        <button class="btnn" onclick="myFunction()"> LOGIN</button></a>-->
<!--<script>-->
<!--function myFunction() {-->
<!--  alert("Are you confirmed to be added to the company");-->
<!--}-->
<!--</script>-->
<!--    </div>-->

</body>

</html>